#button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 300px;
    margin: 12rem auto;
    border-radius: 2%;
    background-color: rgba(57,87,86, .25);
    
}
#message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100px;
    background-color: rgba(57,87,86, .25);

    
}
#genButton{
    display: flex;
    margin: 2px;
}
@media screen and (max-width: 807px){
    #message{
        width: 75%;
        height: 200px;
    }
}
@media screen and (max-width: 520px){
    #button-section{
        width: 75%;
        height: 400px;
    }
    
    #message{
        width: 90%;
        height: 250px;
    }
}
@media screen and (max-width: 390px){
    #message{
        width: 90%;
        height: 200px;
    }
}