body{
    background-color: rgb(0, 64, 128);
    font-size: 16px;
    color: white;
}
header h1{
    display: inline;
    line-height: 45px;
    margin: 0px;
    font-size: 2rem;
    margin-left: 3rem;
}
nav{
    list-style: none;
    float: right;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 3rem;
}
ul{
    display: inline;
}
li{
    display: inline;
    padding: 1rem;
}