body{
    background-color: rgba( 39,116, 85,1);
    font-size: 16px;
    color: rgba(170,122, 57,1);
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
}
header{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: block;
    background-image:url(nightflight.JPG);
    height: 15rem;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:10% 68%;
}
header h1{
    display: inline-block;
    line-height: 45px;
    margin: 0px;
    margin-left: 3rem;
    margin-top: .85rem;
    font-size: 8rem;
    border: thick double rgba(170,122, 57,1);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: absolute;
      

}
nav{
    list-style: none;
    float: right;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 3rem;
    margin-top: 4rem ;
    font-size: 2rem;
    
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
    padding: 1rem;
}
/* Lucas picture*/
#lucas-section{
    display: flex;
    justify-content: center;
    
}
#lucas-img{
    height: 30rem;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    
}

/*about me section */

#about-me{
    height: 19rem;
    width: 50%;
    color: rgba(128, 83, 21,1);
    background-color: rgba( 85, 49,  0,1);
    margin-left: 25%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    position: relative;
    overflow: hidden;
    background-image: url(pictures/lucas-plane.JPG);
    background-size: 25rem auto;
    background-repeat: no-repeat;
    background-position: right;
   
}

#about-me p{
    height: 15rem;
    width: 40%;
    font-family: rubik;
    font-weight: 400;
    color:  rgba(128, 83, 21,1);
    padding-left: 1rem;
    
}
#about-me h1{
    padding-left: 1rem;
}

/* projects section*/

#projects{
    text-align: center;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5rem 15rem;
    column-gap: 1rem;
    
}
#projects h1{
    font-size: 2rem;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-bottom: 1rem;
   
    
}
.project-containers{
    height: 15rem;
    width: auto;
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;

   }
   #dasmotos p{
    font-size: 1.25rem;
   }
   #teacozy p{
    font-size: 1.25rem;
    padding-bottom: 2rem;
   }
   #message-gen p{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.25rem;
   }

   #dasmoto-img{
    width: 95%;
    height: auto;
   }
   #teacozy-img{
    width: 75%;
    height: auto;
   }
   #message-img{
    width: 100%;
    height: auto;
    margin-top: 2rem;
   }

   #dasmotos:hover{
        height: 150%;
        width: auto;
   }
   #teacozy:hover{
    height: 150%;
    width: auto;
   }
   #message-gen:hover{
    height: 150%;
    width: auto;
   }
  

/*skills section*/

#skills{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: block;
    

}
#skills h1{
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    display: block;
    
    
    }
i{
    display:inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    
}




/*Footer section*/

footer{
    height: 5rem;
    width: auto;
    margin-top: 1rem;
    text-align: center;
}